<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		
		<title>{{ if segment_1 }}{{ title }} - {{ /if }}{{ _site_name }}</title>

		<!-- styles -->
		{{ theme:css src="style" tag="true" }}

		<!-- favicon -->
		<link rel="shortcut icon" type="image/png" href="{{ theme:img src="" }}">
	</head>
	<body id="top">
		<header>
			<span>Company</span>
			<nav>
				<a href="/">Home</a>
				<a href="/about">About</a>
				<a href="/contact">Contact</a>
			</nav>
		</header>
		
		{{ layout_content }}
		
		<footer>
			&copy; {{ year }} Company
		</footer>
		{{ location:start_maps smart_include="true" }}
	</body>
</html>